<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at
	<a href="http://railstutorial.org/help"> this page </a>
	To get help with building this app, see
	<a href="http://railstutorial.org/book"> the book</a>
</p>